---
export type IconName = "compass" | "layers" | "profile" | "timeline" | "work" | "systems";

interface Props {
  name: IconName;
}

const { name } = Astro.props as Props;

const paths: Record<IconName, string[]> = {
  compass: [
    "M12 3l6.5 18-6.5-3.4L5.5 21 12 3Z",
    "M12 7.5v10.1",
  ],
  layers: [
    "M12 3.5 3.5 8 12 12.5 20.5 8 12 3.5Z",
    "M4 12l8 4.3 8-4.3",
    "M4 16l8 4.3 8-4.3",
  ],
  profile: [
    "M12 12.2a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z",
    "M4.8 20c1.2-3.4 3.6-5.2 7.2-5.2s6 1.8 7.2 5.2",
  ],
  timeline: [
    "M5.5 4.5v15",
    "M5.5 6.5h8.8",
    "M5.5 12h12.8",
    "M5.5 17.5h7",
    "M16.5 6.5h2",
    "M20.5 12h-2",
  ],
  work: [
    "M8.5 7V5.8c0-1 .8-1.8 1.8-1.8h3.4c1 0 1.8.8 1.8 1.8V7",
    "M4 8h16v11H4V8Z",
    "M4 13h16",
    "M10 13v1.7h4V13",
  ],
  systems: [
    "M12 7.5a3.2 3.2 0 1 0 0-6.4 3.2 3.2 0 0 0 0 6.4Z",
    "M6.5 22a3.2 3.2 0 1 0 0-6.4 3.2 3.2 0 0 0 0 6.4Z",
    "M17.5 22a3.2 3.2 0 1 0 0-6.4 3.2 3.2 0 0 0 0 6.4Z",
    "M10.4 7.1 7.8 15.8",
    "M13.6 7.1l2.6 8.7",
    "M9.6 18.8h4.8",
  ],
};
---

<span class="icon-glyph" aria-hidden="true">
  <svg viewBox="0 0 24 24" focusable="false">
    {paths[name].map((path) => <path d={path} />)}
  </svg>
</span>
